{% extends 'base.html.twig' %}

{% block title %}Rate this Movie{% endblock %}

{% block body %}
    <h1>What did you think of this movie? Rate it from 1-5.</h1>

    {{ include('movie/_form.html.twig', {'button_label': 'Update Rating'}) }}

    <a href="{{ path('movie_index') }}">back to list</a>
{% endblock %}
