{% extends 'base.html.twig' %}

{% block title %}Director index{% endblock %}

{% block body %}
    <h1>Director index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            {% if director.name != "unknown" %}
            <tr>
                <td>{{ director.id }}</td>
                <td>{{ director.name }}</td>
                
                <td>
                    <a href="{{ path('director_show', {'id': director.id}) }}">show</a>
                    <a href="{{ path('director_edit', {'id': director.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('director_new') }}">Create new</a>
{% endblock %}
