{% extends 'base.html.twig' %}

{% block title %}Director{% endblock %}

{% block body %}
    <h1>Director</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ director.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ director.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('director_index') }}">back to list</a>

    <a href="{{ path('director_edit', {'id': director.id}) }}">edit</a>

    {{ include('director/_delete_form.html.twig') }}
{% endblock %}
